.headerText {
    font-size: 40px;
    padding: 100px 0 50px 0;
}

.bodyText {
    font-size: 24px;
    padding-bottom: 120px;
}

.projectGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.projectCard {
    width: 50%; 
    height: 500px;
    margin-bottom: 80px;
}

.projectHeading {
    font-weight: bold;
}

.projectImage {
    height: 350px;
}

.projectTitle {
    font-size: 20px;
    font-weight: bold;
    padding-top: 24px;
}

.projectDesc {
    color: #A5A5A5;
    padding-top: 16px;
    font-size: 18px;
    width: 500px;
}

.projectTag {
    background-color: #616E7B;
    color: #FFF;
    border-radius: 1rem;
    padding: 6px 18px;
    margin: 16px 8px 0 0;
    display: inline-block; 
    font-size: 12px;
}